@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="userId" name="用户id" value="${item.userId}" underline="true"/>
                            <#input id="startPlace" name="开始地点" value="${item.startPlace}" underline="true"/>
                            <#input id="endPlace" name="结束地点" value="${item.endPlace}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" underline="true"/>
                            <#input id="isEnable" name="是否启用,0不启用，1启用" value="${item.isEnable}" />
                </div>

                <div class="col-sm-6">
                            <#input id="creator" name="创建人" value="${item.creator}" underline="true"/>
                            <#input id="modifier" name="修改人" value="${item.modifier}" underline="true"/>
                            <#input id="created" name="创建时间" value="${item.created}" underline="true"/>
                            <#input id="modified" name="最后修改时间" value="${item.modified}" underline="true"/>
                            <#input id="isDeleted" name="0正常，1删除" value="${item.isDeleted}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PUserCommonTripInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PUserCommonTripInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/p/pUserCommonTrip/pUserCommonTrip_info.js"></script>
@}
