<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.p.dao.PTeamUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.p.model.PTeamUser">
        <id column="id" property="id" />
        <result column="p_u_id" property="pUId" />
        <result column="user_id" property="userId" />
        <result column="team_id" property="teamId" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="created" property="created" />
        <result column="modified" property="modified" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_enable" property="isEnable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, p_u_id, user_id, team_id, creator, modifier, created, modified, is_deleted, is_enable
    </sql>

</mapper>
