@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="pUId" name="" underline="true"/>
                            <#input id="userId" name="司机id" underline="true"/>
                            <#input id="teamId" name="团对id" underline="true"/>
                            <#input id="creator" name="创建人"/>
                </div>

                <div class="col-sm-6">
                            <#input id="modifier" name="修改人" underline="true"/>
                            <#input id="created" name="创建时间" underline="true"/>
                            <#input id="modified" name="修改时间" underline="true"/>
                            <#input id="isDeleted" name="是否删除 1 不删除 0：删除" underline="true"/>
                            <#input id="isEnable" name="是否可用 1 可用   0：不可用" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PTeamUserInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PTeamUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/p/pTeamUser/pTeamUser_info.js"></script>
@}
